In [1]:
%load_ext autotime

In [2]:
import sys

time: 91 ms

In [3]:
sys.path.append('/scratch/pradap/python-work/anhaidgroup/magellan/')

time: 72.4 ms

In [4]:
import magellan as mg

DEBUG:Cloud:Log file (/u/p/r/pradap/.picloud/cloud.log) opened

time: 1.25 s

In [5]:
import os

time: 691 µs

In [6]:
path_A = os.sep.join([mg.get_install_path(), 'datasets', 'test_datasets', 'A.csv'])
path_B = os.sep.join([mg.get_install_path(), 'datasets', 'test_datasets', 'B.csv'])

time: 41.9 ms

In [7]:
A = mg.read_csv_metadata(path_A)

time: 141 ms

In [8]:
mg.get_key(A)

'ID'

time: 68.2 ms

In [9]:
B = mg.read_csv_metadata(path_B)

WARNING:magellan.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

time: 89.3 ms

In [10]:
# mg.get_key(B)

time: 62 ms

In [11]:
A

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

time: 133 ms

In [12]:
mg.set_key(B, 'ID')

time: 71.4 ms

In [13]:
mg.to_csv_metadata(A, path_A)

WARNING:magellan.io.parsers:File already exists at /scratch/pradap/python-work/anhaidgroup/magellan/magellan/datasets/test_datasets/A.csv; Overwriting it
WARNING:magellan.io.parsers:Metadata file already exists at /scratch/pradap/python-work/anhaidgroup/magellan/magellan/datasets/test_datasets/A.metadata. Overwriting it

True

time: 74.6 ms

In [14]:
A1 = mg.read_csv_metadata(path_A)

time: 66.3 ms

In [15]:
A1

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

time: 73.1 ms

In [16]:
# pickling

time: 102 ms

In [17]:
saving_path = os.sep.join([mg.get_install_path(), 'datasets', 'test_datasets', 'sandbox', 'A.pickle'])

time: 74.8 ms

In [18]:
mg.save_table(A, saving_path)

True

time: 98.3 ms

In [19]:
A1 = mg.load_table(saving_path)

time: 466 ms

In [20]:
A1

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

time: 72.8 ms

In [21]:
mg.get_key(A1)

'ID'

time: 52.4 ms

In [22]:
B1 = mg.read_csv_metadata(path_B, key='ID')

WARNING:magellan.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

time: 75.7 ms

In [23]:
mg.get_key(B1)

'ID'

time: 111 ms

In [24]:
B2 = mg.read_csv_metadata(path_B, key='zipcode')

WARNING:magellan.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.
WARNING:magellan.core.catalog_manager:Attribute (zipcode) does not qualify to be a key; Not setting/replacing the key

time: 68.2 ms

In [25]:
mg.to_csv_metadata(A, path_A)

WARNING:magellan.io.parsers:File already exists at /scratch/pradap/python-work/anhaidgroup/magellan/magellan/datasets/test_datasets/A.csv; Overwriting it
WARNING:magellan.io.parsers:Metadata file already exists at /scratch/pradap/python-work/anhaidgroup/magellan/magellan/datasets/test_datasets/A.metadata. Overwriting it

True

time: 105 ms

In [26]:
A.set_index('zipcode', inplace=True)

time: 152 ms

In [27]:
A

,ID,name,birth_year,hourly_wage,address
zipcode,,,,,
94107,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco"
94122,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco"
94107,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco"
94122,a4,Binto George,1987,32.5,"423 Powell St, San Francisco"
94122,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco"

time: 80.5 ms

In [28]:
A.reset_index()

,zipcode,ID,name,birth_year,hourly_wage,address
0,94107,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco"
1,94122,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco"
2,94107,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco"
3,94122,a4,Binto George,1987,32.5,"423 Powell St, San Francisco"
4,94122,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco"

time: 67.4 ms

In [29]:
saving_path = os.sep.join([mg.get_install_path(), 'datasets', 'test_datasets', 'sandbox', 'A1.csv'])

time: 61.3 ms

In [30]:
mg.to_csv_metadata(A, saving_path)

True

time: 74.1 ms

In [31]:
A1 = mg.read_csv_metadata(saving_path)

time: 63.5 ms

In [32]:
A1

,ID,name,birth_year,hourly_wage,address
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco"
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco"
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco"
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco"
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco"

time: 89.5 ms

In [ ]:
A1

In [34]:
A = mg.load_dataset('table_A')

WARNING:magellan.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

time: 3.04 ms

In [35]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode')

time: 8.67 ms

In [37]:
mg.to_csv_metadata(C, saving_path)

WARNING:magellan.io.parsers:File already exists at /scratch/pradap/python-work/anhaidgroup/magellan/magellan/datasets/test_datasets/sandbox/A1.csv; Overwriting it

True

time: 12 ms

In [40]:
C1 = mg.read_csv_metadata(saving_path, ltable=A, rtable=B, fk_ltable='ltable_iD', fk_rtable='rtable_ID', key='_id')

time: 2.5 ms

In [41]:
mg.show_properties(C1)

id: 140198394974928
rtable(obj.id): 140198437993808
ltable(obj.id): 140198395903824
fk_rtable: rtable_ID
fk_ltable: ltable_iD
key: _id
time: 813 µs