In [1]:
%load_ext autotime

In [2]:
import sys

time: 579 µs

In [3]:
import sys
#sys.path.append('/Users/pradap/Documents/Research/Python-Package/magellan/')
sys.path.append('/scratch/pradap/python-work/anhaidgroup/magellan')

time: 946 µs

In [4]:
import magellan as mg

time: 587 ms

In [5]:
f1 = mg.load_object('./feattable.pkl')

time: 3.51 ms

In [10]:
A = mg.load_dataset('table_A')

time: 2.23 ms

In [11]:
B = mg.load_dataset('table_B')

time: 2.16 ms

In [13]:
A

,ID,name,birth_year,hourly_wage,address,zipcode
0,a1,Kevin Smith,1989,30.0,"607 From St, San Francisco",94107
1,a2,Michael Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
2,a3,William Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
3,a4,Binto George,1987,32.5,"423 Powell St, San Francisco",94122
4,a5,Alphonse Kemper,1984,35.0,"1702 Post Street, San Francisco",94122

time: 12.4 ms

In [14]:
B

,ID,name,birth_year,hourly_wage,address,zipcode
0,b1,Mark Levene,1987,29.5,"108 Clement St, San Francisco",94107
1,b2,Bill Bridge,1986,32.0,"3131 Webster St, San Francisco",94107
2,b3,Mike Franklin,1988,27.5,"1652 Stockton St, San Francisco",94122
3,b4,Joseph Kuan,1982,26.0,"108 South Park, San Francisco",94122
4,b5,Alfons Kemper,1984,35.0,"170 Post St, Apt 4, San Francisco",94122
5,b6,Michael Brodie,1987,32.5,"133 Clement Street, San Francisco",94107

time: 12.1 ms

In [15]:
f1.ix[18, 'function'](A.ix[1], B.ix[1])

0

time: 2.55 ms