In [1]:
%load_ext autotime

In [2]:
import logging

time: 89.6 ms

In [3]:
logging.basicConfig(level=logging.INFO)

time: 111 ms

In [4]:
import sys
sys.path.append('/scratch/pradap/python-work/magellan/')

time: 99.5 ms

In [5]:
import magellan as mg

DEBUG:Cloud:Log file (/u/p/r/pradap/.picloud/cloud.log) opened

time: 646 ms

In [6]:
import magellan.core.catalog_manager as cm

time: 776 µs

In [7]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 83 ms

In [8]:
F = mg.get_features_for_blocking(A, B)

WARNING:magellan.feature.autofeaturegen:Magellan types: address type (str_bt_1w_5w) and address type (str_bt_5w_10w) are different.If you want to set them to be same and generate features, update output from get_attr_types and use get_features command.

time: 70 ms

In [9]:
A.columns

Index([u'ID', u'name', u'birth_year', u'hourly_wage', u'address', u'zipcode'], dtype='object')

time: 64.1 ms

In [10]:
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', l_output_attrs=['name', u'birth_year', u'hourly_wage', u'address', u'zipcode'], 
                    r_output_attrs=['name', u'birth_year', u'hourly_wage', u'address', u'zipcode'])

time: 61.3 ms

In [11]:
feature_table = mg.get_features_for_blocking(A, B)

WARNING:magellan.feature.autofeaturegen:Magellan types: address type (str_bt_1w_5w) and address type (str_bt_5w_10w) are different.If you want to set them to be same and generate features, update output from get_attr_types and use get_features command.

time: 90 ms

In [12]:
E = mg.extract_feature_vecs(C, feature_table=feature_table)

time: 132 ms

In [13]:
feature_table is not None

True

time: 23.8 ms

In [14]:
key, fk_ltable, fk_rtable, ltable, rtable, l_key, r_key = cm.get_metadata_for_candset(C, None, False)

time: 55.2 ms

In [19]:
E.head()

,_id,ltable_ID,rtable_ID,ID_ID_lev,ID_ID_jar,ID_ID_jwn,ID_ID_exm,ID_ID_jac_qgm_3_qgm_3,name_name_jac_qgm_3_qgm_3,name_name_cos_dlm_dc0_dlm_dc0,...,name_name_sw,birth_year_birth_year_exm,birth_year_birth_year_anm,birth_year_birth_year_lev,hourly_wage_hourly_wage_exm,hourly_wage_hourly_wage_anm,hourly_wage_hourly_wage_lev,zipcode_zipcode_exm,zipcode_zipcode_anm,zipcode_zipcode_lev
0,0,a1,b1,1,0.666667,0.666667,0,1,0.0,0.0,...,3,0,0.998994,1,0,0.983333,3,1,1,0
1,1,a1,b2,2,0.000000,0.000000,0,1,0.0,0.0,...,2,0,0.998492,1,0,0.937500,1,1,1,0
2,2,a1,b6,2,0.000000,0.000000,0,1,0.0,0.0,...,2,0,0.998994,1,0,0.923077,2,1,1,0
3,3,a3,b1,2,0.000000,0.000000,0,1,0.0,0.0,...,2,0,0.999497,1,0,0.921875,3,1,1,0
4,4,a3,b2,2,0.000000,0.000000,0,1,0.4,0.5,...,8,1,1.000000,0,1,1.000000,0,1,1,0

time: 35.6 ms

In [16]:
from magellan.utils.generic_helper import list_diff

time: 56.9 ms

In [17]:
l1= [key, fk_ltable, fk_rtable, l_key, r_key]
l2 = [l_key, r_key]

time: 47.5 ms

In [18]:
list_diff(l1, l2)

['_id', 'ltable_ID', 'rtable_ID']

time: 56.9 ms