In [1]:
%load_ext autotime

In [2]:
import sys
# sys.path.append('/scratch/pradap/python-work/anhaidgroup/magellan')
sys.path.append('/Users/pradap/Documents/Research/Python-Package/anhaid/magellan/')

time: 1.56 ms

In [3]:
import qgrid

time: 1.35 s

In [20]:
import magellan as mg
import pandas as pd
import py_stringsimjoin as ssj
import qgrid

time: 1.26 ms

In [5]:
A = mg.read_csv_metadata('../DBLP_ACM/DBLP_cleaned.csv', key='id')
B = mg.read_csv_metadata('../DBLP_ACM/ACM_cleaned.csv', key='id')

time: 22.6 ms

In [7]:
ssj.profile_table_for_join(A)

,Unique values,Missing values,Comments
Attribute,,,
id,2616 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
title,2521 (96.37%),0 (0.0%),
authors,2316 (88.53%),0 (0.0%),
venue,5 (0.19%),0 (0.0%),
year,10 (0.38%),0 (0.0%),

time: 49 ms

In [8]:
ssj.profile_table_for_join(B)

,Unique values,Missing values,Comments
Attribute,,,
id,2294 (100.0%),0 (0.0%),This attribute can be used as a key attribute.
title,2230 (97.21%),0 (0.0%),
authors,2009 (87.58%),14 (0.61%),Joining on this attribute will ignore 14 (0.61%) rows.
venue,5 (0.22%),0 (0.0%),
year,10 (0.44%),0 (0.0%),

time: 36 ms

In [15]:
A.describe(include=['O'])

,id,title,authors,venue
count,2616,2616,2616,2616
unique,2616,2521,2316,5
top,conf/sigmod/Galindo-LegariaJ01,Editor's Notes,Richard T. Snodgrass,VLDB
freq,1,30,25,877

time: 20.8 ms

In [16]:
B.describe(include=['O'])

,title,authors,venue
count,2294,2280,2294
unique,2230,2008,5
top,Book reviews,Karl Aberer,International Conference on Management of Data
freq,8,16,797

time: 18.2 ms

In [35]:
# qgrid.show_grid(A.sample(100, random_state=0))

time: 21.5 ms

In [31]:
# qgrid.show_grid(B.sample(100, random_state=0))

time: 21.4 ms

In [34]:
# Observe that the authors have some ? replace with NaN
A.replace({'authors':{'?':pd.np.NaN}}, inplace=True)

time: 2.59 ms

In [ ]:
# Plot the venue vs year and see that there is a normalization problem.

In [36]:
# Normalize attr. values
B.replace({'venue':{
            'The VLDB Journal â€” The International Journal on Very Large Data Bases':'VLDB J.',
            'Very Large Data Bases': 'VLDB',
            'ACM SIGMOD Record': 'SIGMOD Record'
        }}, inplace=True)

time: 5.16 ms

In [39]:
pd.unique(B.venue), pd.unique(A.venue)

(array(['International Conference on Management of Data', 'SIGMOD Record',
        'ACM Transactions on Database Systems (TODS)', 'VLDB J.', 'VLDB'], dtype=object),
 array(['SIGMOD Record', 'VLDB', 'SIGMOD Conference', 'VLDB J.',
        'ACM Trans. Database Syst.'], dtype=object))

time: 3.41 ms